<!DOCTYPE html>
<html>
<head>
  <title>RedbubbleRails</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Redbubble</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="collapsible.html">Make</a></li>
      <li><a href="collapsible.html">Model</a></li>
    </ul>
  </div>
</nav>
<body>

<%= yield %>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Jill Donohue</h5>
        <p class="grey-text text-lighten-4">Front End Coding Challenge</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.redbubble.com/">Redbubble</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
